@import url(https://fonts.googleapis.com/css?family=Open+Sans|Poppins);
// 2. Set your own initial variables
// Update blue
$ultraviolet: #654EA3;
$darkGrey: #414549;
$mediumpurple:#654EA3;
$blue:#2D9CDB;
$greyPurple: #E5E5E5;
// Add a serif family
$family-serif: "Poppins", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $ultraviolet;
$blue: #1976D2;
$primary-invert: white;
// Use the new serif family
$family-primary: $family-serif;

/* You can add global styles to this file, and also import other style files */
// 1. Import the initial variables

@import "~bulma";
@import "~bulma-calendar";

.auth-page-left-container {
  background-color: $primary;
  color: white;
  padding-top:5%;
}

.kowalski-primarily-colored {
  color: $primary;
}

.kowalski-back-panel {
  background-color: $primary;
  color: $primary-invert;

  a, a:hover {
    color: $primary-invert;
  }

  a:hover {
    background-color: $primary;
  }
}

.button, .input {
  border-radius: 0px
}

html, body, #app {
  height: 100%;
  width: 100%;

}

.kowalski-react-basic-container {
  display: flex;
  flex-grow: 1;
}

.kowalski-react-basic-container-vertical {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

h1{
  font-size: 2.875rem;
  font-family: $family-primary;
  color:#414549;

}

h2{
  font-size: 2.25rem;
  color:#414549;

}

h3{
  font-size: 1.75rem;
  color:#414549;

}

h4{
  font-size: 1.375rem;
  color:#414549;

}

h5{
  font-size: 1.125rem;
  color:#414549;

}

h6{
  font-size:1em;
  color:#414549;

}
p{
  font-size: 1rem;
  color:#414549;

}

.select {
  width: 100%;
}

select {
  border-radius: 0 !important;
  width: 100%;
}
.control {
  input, select {
    height: 50px;
  }
}
.calendar{
  min-width:18em;
  min-height:17em;
  .calendar-nav{
    background:white;
    color: $ultraviolet;
    padding-bottom: 0;
    button{
      svg {
        color: $ultraviolet;
      }
    }
    .yearMonth{
      font-size:16px;
    }
  }
  .calendar-body{
    padding-bottom: 0;
    .calendar-date{
      padding: 0px;
    }
  }
}

.projectBox{
  color: #414549;
  padding:2%;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .05);
  border-left: 4px solid #654EA3;
}

.projectBox:hover{
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);

}
.card{
  margin-bottom: 20px;
}

.modal{
  .modal-background{
    background-color:rgba(101,68,173,0.25);
  }
}
.activitieTabWrapper{
  span{
    top:12%!important;
  }
  .activitieWrapper{
    &:nth-child(even) {
      .card {
        border-left:3px solid #654EA3;
      }
    }
  }
}
