@import url(https://fonts.googleapis.com/css?family=Open+Sans|Poppins);
// 2. Set your own initial variables
// Update blue
$ultraviolet: #654EA3;
$darkGrey: #414549;
$mediumpurple:#654EA3;
$blue:#2D9CDB;
$greyPurple: #E5E5E5;
// Add a serif family
$family-serif: "Poppins", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $ultraviolet;
$blue: #1976D2;
$primary-invert: white;
// Use the new serif family
$family-primary: $family-serif;

/* You can add global styles to this file, and also import other style files */
// 1. Import the initial variables

@import "~bulma";
@import "~bulma-calendar";

/*body style*/
html, body, #app {
  height: 100%;
  width: 100%;
}

body{
  background-color: #FBFAFF;
}


/*basic containers*/
.auth-page-left-container {
  background-color: $primary;
  color: white;
  padding-top:5%;
}
.auth-page-right-container {

  padding-top:8%;
}


.kowalski-react-basic-container {
  display: flex;
  flex-grow: 1;
}

.kowalski-react-basic-container-vertical {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/*typography scale*/
h1{
  font-size: 2.875rem;
  font-family: $family-primary;
  color:#414549;

}

h2{
  font-size: 2.25rem;
  color:#414549;

}

h3{
  font-size: 1.75rem;
  color:#414549;

}

h4{
  font-size: 1.375rem;
  color:#414549;

}

h5{
  font-size: 1.125rem;
  color:#414549;
}

h6{
  font-size:1em;
  color:#414549;
}

p{
  font-size: 1rem;
  color:#414549;
}

/*color definitions*/

.kowalski-primarily-colored {
  color: $primary;
}

.kowalski-back-panel {
  background-color: $primary;
  color: $primary-invert;

  a, a:hover {
    color: $primary-invert;
  }

  a:hover {
    background-color: $primary;
  }
}

/*button definitions*/
.button, .input {
  border-radius: 0px;
  height:35px;
  font-size:0.8em;
}
.primary-button{
  color:white;
  background-color:#654EA3;
  font-size:1em;
  &:hover{
    background-color:#7D60C9;
    color:white;
  }
}
.secondary-button{

}

form{
  padding: 2.2em;
}
.checkboxInput{
    width:13px;
    height:13px;
    -webkit-appearance: none;
    border: 1px solid #cacece;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  &:active, :checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  &:checked {
    background-color: #654EA3;
    border: 1px solid #654EA3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }
  &:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: white;
  }
}
.select {
  width: 100%;
}

select {
  border-radius: 0 !important;
  width: 100%;
}
.control {
  input, div.select, select {
    height: 50px;
  }
}

.calendar{
  min-width:18em;
  min-height:17em;
  background-color:#FBFAFF;
 .calendar-range {
   .date-item {
     color: #5FA2C8;
     font-weight:600;
   }
 }
  .calendar-nav{
    background:#FBFAFF;
    color: $ultraviolet;
    padding-bottom: 0;
    button{
      svg {
        color: $ultraviolet;
      }
    }
    .yearMonth{
      font-size:16px;
    }
  }
  .calendar-body{
    padding-bottom: 0;
    .calendar-date{
      padding: 0px;
      .date-item.active {
      font-weight:600;
      }
      .date-item.is-active {
        background: none;
        color: #5FA2C8;
        font-weight:600;
        border-color: transparent;
      }

    }

  }
}

.projectBox{
  color: #414549;
  padding:2%;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .05);
  border-left: 4px solid #654EA3;
  background-color: white;
}

.projectBox:hover{
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.card{
  margin-bottom: 20px;
}

.modal{
  .modal-background{
    background-color:rgba(101,68,173,0.25);
  }
  .box{
    border-radius:2px;
  }
}

.activitieTabWrapper{
  span{
    top:12%!important;
  }
  .activitieWrapper{
    &:nth-child(even) {
      .card {
        border-left:3px solid #654EA3;
      }
    }
  }
}

.navbar{
  .navbar-item{
    :hover{
      color:#5FA2C8;
    }
    :active{
      color:#5FA2C8;
    }
  }
}

// React Select
.Select {
  width: 100%
}